 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="text-center">
                <img src="img/ali.jpg">
		<p><em>“Ali! You’re the captain of the babies!”- Boom (age 4)</em></p><br>
	      </div>
	    </div>

	    <p>Hello, everyone! I’m Ali! Thank you so much for visiting my website!</p>

	    <p>I have degrees in Spanish and Music from MSUM and I've been working in childcare for the last 8 years (2 as a preschool teacher and 6 as a nanny). I currently live in St Louis Park and work in Minneapolis with 3 amazing little ladies, but unfortunately they will not be needing me as much now that they’re in school, so I’m looking to find a new wonderful family to work with! </p>

            <p>I’ve been truly blessed in my childcare career to, in a way, become a part of the families I’ve worked with, to watch the kids learn, grow, discover the world, and to cheer them on the whole way. It’s these joys that make me so passionate about the work I do, and that make me excited to go to work every morning.</p>

	    <p>As much as possible I encourage playing outside, creativity, adventures in the community, and dance parties.  I believe the key to being a great childcare professional is communication and cooperation with the family, it’s truly a team effort.</p>

	    <p>I also have my own transportation, I'm CPR/First Aid certified, I love pets, and I do speak Spanish (though I’m due for more practice).</p>

	    <p>In my free time I sing with VocalEssence, play board games with friends, run 5Ks, attempt to do my own arts and crafts, and theorize about Game of Thrones.</p>

	    <p>Please contact me if you have any questions, or for information about my rates. I’d love to hear from you!</p>
        </div>
    </section>
